{% extends 'base.html' %}

{% block title %}Управление бронированием{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="column2">
        <div class="article">
            <h2>Информация о бронировании:</h2>
            <p>
                Код бронирования: 13523.
                <br>Стоимость бронирования: 2000 рублей.
            </p>
            <h2>Данные о рейсах:</h2>
            <p>
                Номер рейса: 105.
                <br>Название города вылета: {{ _from }}.
                <br>Название аэропорта вылета: Центральный аэропорт.
                <br>Дата вылета: {{ dateTo }}.
                <br>Время вылета: 10:00.
                <br>Название города назначения: {{ to }}.
                <br>Название аэропорта назначения: Центральный аэропорт.
                <br>Время прилета: 16:00.
                <br>Время в пути: 6 часов.
                <br>Вероятность вылета: {{ amount }}
            </p>
        </div>
        <div class="article">
            <h2>Данные о пассажирах (ФИ, дата рождения, номер документа, место в салоне туда и обратно):</h2>
            <p>
                Сидоров Иван, 29.04.1989, 526344, 12, 13.
                <br>Иванов Петр, 05.06.1976, 125135, 14, 16.
                <br>Петров Владимир, 19.03.1990, 163452, 18, 40.
                <br>Владимиров Илья, 25.01.1999, 256742, 5, 14.
                <br>Ильин Дмитрий, 20.03.1950, 152334, 1, 15.
                <br>Дмитров Сергей, 17.07.2000, 613626, 44, 17.
                <br>Сергеев Максим, 10.12.2002, 635634, 13, 1.
                <br>Максимов Роман, 15.03.1987, 147543, 7, 4.
                <br>Романович Егор, 21.02.1989, 123464, 41, 7.
                <br>Егоров Денис, 31.01.1980, 461258, 14, 8.
                <form method="post">
                    <input type="submit" class="custom-btn btn-5" onsubmit="this.form.submit()" value="Выбрать места">
                </form>
            </p>
          </div>
    </div>
    
</div>
{% endblock %}