{% extends 'base.html' %}

{% block title %}Управление бронированием{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="column2">
        <div class="article">
            <h2>Информация о бронировании:</h2>
            <p>
                <form>
                    <br>Код бронирования:
                    <br>Стоимость бронирования: 
                </form>
                
            </p>
            <h2>Данные о рейсах:</h2>
            <p>
                <form>
                    Номер рейса:
                    <br>Название города вылета:
                    <br>Название аэропорта вылета:
                    <br>Дата вылета:
                    <br>Время вылета:
                    <br>Название города назначения:
                    <br>Название аэропорта назначения:
                    <br>Время прилета:
                    <br>Время в пути:
                    <br>Вероятность вылета:
                </form>
            </p>
        </div>
        <div class="article">
            <h2>Данные о пассажирах (ФИ, дата рождения, номер документа, место в салоне туда и обратно):</h2>
            <p>
                <form>

                </form>
                <form method="post">
                    <button class="custom-btn btn-5" onclick="this.form.submit()">Выбрать места</button> 
                </form>
            </p>
          </div>
    </div>
    
</div>
{% endblock %}