{% extends 'base.html' %}

{% block head %}<script type="text/javascript" src="../static/js/dialog.js"></script>{% endblock %}
{% block title %}Бронирование{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="column2">
        <div class="article">
            <h2>Данные о рейсах:</h2>
            <p>
                <form>
                    <br>Номер рейса:
                    <br>Название города вылета:
                    <br>Название аэропорта вылета:
                    <br>Дата вылета:
                    <br>Время вылета:
                    <br>Название города назначения:
                    <br>Название аэропорта назначения:
                    <br>Время прилета:
                    <br>Стоимость:
                </form>
                
            </p>
        </div>
        <div class="article">
            <h2>Данные о пассажирах:</h2>
            <p>
                <form>
                    
                </form>
            </p>
            <button class="custom-btn btn-5" onclick="">Добавить пассажира</button>
            <button class="custom-btn btn-5" onclick="">Удалить пассажира</button>
            <br><br>Финальная стоимость:
            <form method="post">
              <br> <button class="custom-btn btn-5" onclick="this.form.submit()">Оформить бронирование</button> 
            </form>
          </div>
    </div>
    
</div>
{% endblock %}