{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="article">
        <p>
            Основные принципы работы нашего сервиса заключаются в следующем:
            <br>1. Выбрать удобную дату перелета.
            <br>2. Накопить больше 50% бронирований на рейс.
            <br>3. Получить снижение стоимости.

            Для демонстрации снижения стоимости вам предлагается ввести демо данные:

            <form class="ul-form">
                <ul>
                    <li>
                        <input id="demodate" type="date">
                        <label for="demonumber"></label>
                    </li>
                    <li>
                        <input placeholder="Количество пассажиров на рейсе" id="demonumber" min="1" max="44" type="number">
                    </li>
                    <li>
                        <button class="custom-btn btn-5" onclick="this.form.submit()">Рассчитать</button> 
                    </li>
                </ul>
            </form>

        </p>
    </div>
    <div class="article">
        <p>
            Наша компания предоставляет гарантию на возврат билетов в соответствии
            с законодательством РФ, а также страхование жизни и здоровья на любые рейсы.
        </p>
    </div>
    <div class="forma">
        <form class="ul-form" method="post">
            <ul>
                <li>
                    <label for="1"></label>
                    <input id="1" name="from" placeholder="Откуда" type="text">
                </li>
                <li>
                    <label for="2"></label>
                    <input id="2" name="to" placeholder="Куда" type="text">
                </li>
                <li>
                    <label for="3"></label><label for="4"></label>
                    <input name="dateTo" placeholder="Дата вылета" id="3" type="date"><input name="dateBack" placeholder="Дата возвращения" id="4" type="date">
                </li>
                <li>
                    <label for="5"></label>
                    <input name="amount" id="5" placeholder="Количество пассажирова (от 1 до 8)" type="number" max="8" min="1">
                </li>
                <li>
                    <button class="custom-btn btn-5" onclick="this.form.submit()">Найти рейс</button> 
                </li>
            </ul>
        </form>
    </div>
    <br><div class="promo">
        <input type="radio" name="point" id="slide1" checked>
        <input type="radio" name="point" id="slide2">
        <input type="radio" name="point" id="slide3">
        <input type="radio" name="point" id="slide4">
        <div class="slider">
            <div class="slides slide1"><div class="text-promo"><h3>Returning and Changing Your Tickets</h3><br>The pandemic has changed many travelers’ plans, but we know that it will not last forever. 
                Once all of this is over, we will continue exploring this world the way we used to. 
                Special rules that have been developed for this challenging situation will help you cancel your trip
                or postpone it until later.</div></div>
            <div class="slides slide2"><div class="text-promo"><h3>Best offers</h3><br>To see again the streets that witnessed so much. To hug your beloved ones and look back to see
                what you’ve come through. And to think of new dreams that will be so special!</div></div>
            <div class="slides slide3"><div class="text-promo"><h3>See you more often</h3><br>Since the beginning of January, we have been expanding the geography of flights in Russia so that you can
                see your loved ones more often. Choose our company to fly to where you are always expected.</div></div>
            <div class="slides slide4"><div class="text-promo"><h3>Everything is on again</h3><br>From August 10, we will resume flights to Turkey. Flights from Moscow to Antalya will be operated twice
                a day daily, and flights on the Moscow-Dalaman route will be operated three to seven times a week.
                </div></div>
        </div>	
        <div class="controls">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
    </div>
    <div class="email ul-form">
    <br><br><br>

        <ul>
            <li>
                <input placeholder="Ваша почта" type="text">
                <button class="custom-btn btn-5" onclick="alert('Вы подписались на наши новостИ!')">Подписаться!</button> 
            </li>
        </ul>
    </div>
</div>

{% endblock %}