{% extends 'base.html' %}

{% block title %}Вход в личный кабинет{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="column2">
        <form class="ul-form">
            <ul>
                <li>
                    <input type="tel" placeholder="Ваш телефон">
                </li>
                <li>
                    <input type="password" placeholder="Ваш пароль">
                </li>
                <li>
                    <button class="custom-btn btn-5" onclick="this.form.submit()">Войти</button> 
                </li>
            </ul>
        </form>
    </div>
    
</div>
{% endblock %}