{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="column1">
        <br><form class="ul-form">
            <ul>
                <li>
                    <br><p>Ваша фамилия:</p>
                </li>
                <li>
                    <br><p>Ваше имя:</p>
                </li>
                <li>
                    <br><p>Количество полетов:</p>
                </li>
                <li>
                    <br> <button class="custom-btn btn-5" onclick="this.form.submit()">Выйти</button> 
                </li>
            </ul>
        </form>
    </div>
    <div class="column2">
        <h3>Предстоящие бронирования:</h3>
        <form>

        </form>
    </div>
</div>
{% endblock %}