{% extends 'base.html' %}

{% block title %}Результат поиска{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="article">
        <h1>Найденный рейс:</h1>
    </div>
    <div class="article">
        <h2>Информация о найденном рейсе:</h2>
        <p>
            <form>
                <br>Воздушное судно:
                <br>Дата вылета:
                <br>Время вылета:
                <br>Времы прилета:
                <br>Время в пути:
                <br>Стоимость:
                <br>Вероятность вылета:
            </form>
            <form method="post">
                <br> <button class="custom-btn btn-5" onclick="this.form.submit()">Перейти к бронированию</button> 
            </form>
        </p>
        
    </div>
</div>
{% endblock %}