.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, auto);
    gap: 20px;
}
.logo{
    grid-column: 1;
    grid-row: auto;
}
.menu{
    grid-column: 2;
    grid-row: auto;
}
.linki{
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
.promo{
    grid-column: 2;
    grid-row: auto;
}
.email{
    grid-column: 2;
    grid-row: auto;
}
.forma{
    grid-column: 2;
    grid-row: auto;
}
.article{
    grid-column: 2;
    grid-row: auto;
}